* { 
	font-family: 'Roboto', sans-serif;
	font-size:15px;

}

.img-size {
	margin-top:20px;
	width: 300px;
	height: auto;
}

/*.img-size-carousel {
	margin-top:20px;
	width: 900px;
	height: auto;
}*/

/*.relativepos {
	position: relative;
}*/

.form-size {
	margin-top:20px;
	width: 400px;
	height: auto;
}

.bg-green {
	background-color: #AFD275;
}

.bg-brown {
	background-color: #7E685A;
}

.bg-lightbrown {
	background-color: #C2B9B0;
}